<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Skillset</title>
    <!-- favicon for older and modern browsers,-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="sticky">
            <label for="drop" class="toggle" id="main-toggle">
                <span class="nav-icon"></span>
            </label>
            <input type="checkbox" id="drop">
            <ul class="main-nav">
                <li><a href="{{ url_for('resume') }}" target="_blank"><div class="d-inline-block bi bi-download me-2"> Resume</div></a></li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('skills') }}">Skill-set</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <!-- Hard Skills Section -->
        <section>
            <h2 class="main-title-large center padding">Skills</h2>
        </section>

        <section class="grid-system-2 w-900 padding">
            <section>
                <h3 class="main-title">Technical skills</h3>
                <section class="skills">
                    <ul class="no-bullet-list no-padding-list-item">
                        <li>
                            <p>Tableau</p>
                            <span class="progress-bar"><span class="Tableau"></span></span>
                        </li>
                        <li>
                            <p>R, SQL</p>
                            <span class="progress-bar"><span class="sql"></span></span>
                        </li>
                        <li>
                            <p>Google Analytics</p>
                            <span class="progress-bar"><span class="google"></span></span>
                        </li>
                        <li>
                            <p>Python</p>
                            <span class="progress-bar"><span class="Python"></span></span>
                        </li>
                    </ul>
                </section>
            </section>
            <section class="justify">
                <h3 class="main-title">Summary</h3>
                <p>With over 8 years of experience using BI tools like Tableau, Power BI, Qlik View, and Google Analytics, 
                    I have honed my skills in data visualization and reporting.</p>
                <p>Tableau, in particular, has been my go-to tool both at work and on personal projects, where I frequently combine it with Excel for efficient data storytelling.
                    Recently, I have also ventured into Google Analytics, creating insightful projects.</p>
                <p>Throughout my career, SQL has been a constant companion, enabling me to manage and manipulate data seamlessly.</p>
                <p>Additionally, I gained a strong foundation in R during my master's program, and with 3 years of practical experience, 
                    I use it for statistical analysis and data modeling.</p>
            </section>
        </section>

        <!-- Soft Skills Section -->
        <section class="grid-system-2 w-900 padding">
            <section class="justify grid-flip">
                <h3 class="main-title">Summary</h3>
                <p>With 8 years of data analysis experience including 6 years in retail, customer solutions, and tech, 
                    I excel at turning complex data into actionable insights.</p>
                <p>From data visualization and data modeling to ETL operations, I streamline data workflows and create intuitive dashboards that drive decision-making.</p>
                <p>I am passionate about problem-solving, identifying key issues, and developing solutions that improve efficiency. 
                    My strategic thinking ensures that data insights align with broader business goals, turning raw numbers into clear, impactful strategies.</p>
                <p>I have also honed my ability to communicate data effectively to non-technical teams, helping them see the story behind the numbers.</p>
            </section>
            <section>
                <h3 class="main-title">Professional skills</h3>
                <section class="skills">
                    <ul class="no-bullet-list no-padding-list-item">
                        <li>
                            <p>Data Visualization</p>
                            <span class="progress-bar"><span class="Visualization"></span></span>
                        </li>
                        <li>
                            <p>Data Modelling</p>
                            <span class="progress-bar"><span class="Modelling"></span></span>
                        </li>
                        <li>
                            <p>Problem Solving, Strategic Thinking</p>
                            <span class="progress-bar"><span class="problem-solving"></span></span>
                        </li>
                        <li>
                            <p>ETL Data Operations</p>
                            <span class="progress-bar"><span class="ETL"></span></span>
                        </li>
                    </ul>
                </section>
            </section>
        </section>

        <!-- Future Plans in Skill Development Section -->
        <section class="w-900">
            <section class="baby-pink-light">
                <h3 class="main-title padding-top">Future Plans in Skill Development</h3>
                <section class="justify">
                    <p>Looking ahead, I am excited to deepen my expertise in data science, expanding my skill set beyond analysis to include machine learning and predictive modeling. 
                        I am eager to explore advanced techniques to unlock even more value from data. As I continue to grow, I aim to refine my data storytelling abilities, 
                        turning complex insights into compelling narratives that drive impactful business decisions.</p>
                    <p>My goal is to take on more leadership opportunities, guiding teams in data-driven strategies while always seeking new ways to innovate and enhance decision-making through data.</p>
                </section>
            </section>
        </section>

    </main>

    <!-- Footer-->
    <footer class="text-gradient">
        <a href="https://www.linkedin.com/in/manigya-chauhan" target="_blank">
            <i class="bi bi-linkedin icon-size"></i>
        </a>
        <a href="https://github.com/manigyasays" target="_blank">
            <i class="bi bi-github icon-size"></i>
        </a>
        <p>Made with ❤️ by Manigya Chauhan</p>
    </footer>
</body>
</html>
