<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Contact</title>
    <!-- favicon for older and modern browsers-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="sticky">
            <label for="drop" class="toggle" id="main-toggle">
                <span class="nav-icon"></span>
            </label>
            <input type="checkbox" id="drop">
            <ul class="main-nav">
                <li><a href="{{ url_for('resume') }}" target="_blank"><div class="d-inline-block bi bi-download me-2"> Resume</div></a></li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('skills') }}">Skill-set</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <!-- Page content -->
        <section>
            <h1 class="main-title-large colorful-letter center padding">Get in touch</h1>
        </section>

        <article class="baby-pink">
            <p class="text-gradient">Dublin, Ireland</p>
            <p>
                <!-- Email contact -->
                <div class="text-center text-xxl-start">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                        <div class="text-gradient bold">
                            <a href="mailto:chauhanmani987@gmail.com" target="_blank">chauhanmani987@gmail.com</a>
                        </div>
                    </div>
                </div>
            </p>
            <div class="text-gradient">
                <a href="https://www.linkedin.com/in/manigya-chauhan" target="_blank">
                    <i class="bi bi-linkedin icon-size"></i>
                </a>
                <a href="https://github.com/manigyasays" target="_blank">
                    <i class="bi bi-github icon-size"></i>
                </a>  
            </div>
        </article>
    </main>

    <!-- Footer-->
    <footer class="text-gradient">
        <p>Made with ❤️ by Manigya Chauhan</p>
    </footer>
</body>
</html>
