<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Portfolio - Manigya Chauhan</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="sticky">
            <label for="drop" class="toggle" id="main-toggle">
                <span class="nav-icon"></span>
            </label>
            <input type="checkbox" id="drop">
            <ul class="main-nav">
                <li><a href="{{ url_for('resume') }}" target="_blank"><div class="d-inline-block bi bi-download me-2"> Resume</div></a></li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('skills') }}">Skill-set</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        
        <!-- introduction -->
        <header class="grid-system-2 w-900 padding">
            <section class="align-center">
                <h1 class="medium-spacing">Hello, I am</h1>
                <h1 class="large"><span class="text-gradient d-inline">Manigya Chauhan</span></h1>
                <p class="lead fw-light mb-4">From retail to customer solution and tech, I specialize in Data Visualization, ETL, and Report Development.</p>
                <p class="text-muted">I am a curious data storyteller with 6 years of experience helping businesses unlock the power of data. I love using Tableau, Google Analytics, R, and SQL to find opportunities, simplify processes, and share insights that drive growth and efficiency.</p>
            </section>
            <section class="center align-center">
                <img class="header-img max-width max-height" src="{{ url_for('static', filename='images/profile.png') }}" alt="profile-picture">
            </section>
        </header>

        <!-- quote -->
        <article class="baby-pink">
            <p class="quote uppercase">I reveal the Story hidden in your Data.</p>
            <div class="text-center text-xxl-start">
                <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                    <div class="text-uppercase">Data Analyst &middot; Visual Storyteller &middot; Strategist</div>
                </div>
            </div>
        </article>
        
        <!-- skills -->
        <section>
            <h2 class="main-title center padding">Skills</h2>
        </section>
        <section class="wrapper">
            <section class="column">
                <p class="padding-bottom">Technical skills</p>
                <section class="skills">
                    <ul class="no-bullet-list no-padding-list-item">
                        <li>
                            <p>Tableau</p>
                            <span class="progress-bar"><span class="Tableau"></span></span>
                        </li>
                        <li>
                            <p>R, SQL</p>
                            <span class="progress-bar"><span class="sql"></span></span>
                        </li>
                        <li>
                            <p>Google Analytics</p>
                            <span class="progress-bar"><span class="google"></span></span>
                        </li>
                        <li>
                            <p>Python</p>
                            <span class="progress-bar"><span class="Python"></span></span>
                        </li>
                    </ul>
                </section>
            </section>
            <section class="column">
                <p class="padding-bottom">Professional skills</p>
                <section class="skills">
                    <ul class="no-bullet-list no-padding-list-item">
                        <li>
                            <p> Data Visualization</p>
                            <span class="progress-bar"><span class="Visualization"></span></span>
                        </li>
                        <li>
                            <p> Data Modelling</p>
                            <span class="progress-bar"><span class="Modelling"></span></span>
                        </li>
                        <li>
                            <p>Problem Solving, Strategic Thinking</p>
                            <span class="progress-bar"><span class="problem-solving"></span></span>
                        </li>
                        <li>
                            <p>ETL Data Operations</p>
                            <span class="progress-bar"><span class="ETL"></span></span>
                        </li>
                    </ul>
                </section>
            </section>
        </section>

    </main>

    <footer class="text-gradient">
        <a href="https://www.linkedin.com/in/manigya-chauhan" target="_blank">
            <i class="bi bi-linkedin icon-size"></i>
        </a>
        <a href="https://github.com/manigyasays" target="_blank">
            <i class="bi bi-github icon-size"></i>
        </a>
        <p>Made with ❤️ by Manigya Chauhan</p>
    </footer>

</body>
</html>
